<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="ACME Challenge" stopProcessing="true">
                    <match url="^\.well-known/acme-challenge/(.*)" />
                    <action type="Rewrite" url="/.well-known/acme-challenge/{R:1}" />
                </rule>
                <rule name="API Routes" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment=".well-known" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration> 